[submodule "ext/openvr"]
	path = ext/openvr
	url = git@github.com:ValveSoftware/openvr.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:g-truc/glm.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
